.perso-logo-da {
  height: 42px;
  width: 42px;
}

.group-input-da {
  border-start-start-radius: 25rem;
  border-end-start-radius: 25rem;
  background-color: #f0f2f5;
  border-right: 0em !important;
}
.input-addons-perso-da {
  border-start-end-radius: 25rem;
  border-end-end-radius: 25rem;
  background-color: #f0f2f5;
  border-left: 0em !important;
  padding-left: 0em;
}
.nav-shadow-da {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.color-icons-nav-da {
  color: #8C8C8C;
}

.border-color-nav-da {
  border-width: 2px !important;
  border-color: #8c8c8c !important;
}

.icon-size-nav-da {
  height: 0px !important;
  width: 16px !important;
}

.btn-color-feisbus-da {
  color: #000;
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.font-size-side-nav {
  font-size: .9375rem !important;
  font-family: inherit;
}

.btn-sidenav-da {
  color: #000;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.container-dashboard {
  padding: 1.5rem 5rem;
} .max-scroll {
  max-height: 37.5em;
  overflow-y: scroll;
}

.container-scroll-global{
  max-height: 37.5em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-style-global{
  background-color: #ffff;
  border-radius: 0.7rem !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.btn-options-card:hover{
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.icon-stream-fb {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/vHQA4SpBM5B.png);
  background-position: 0 0;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-foto-video-fb {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/vHQA4SpBM5B.png);
  background-position: 0 -125px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-bithday-fb {
  height: 36px;
  width: 36px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/VLkjyo0WJdh.png);
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-camera-chat {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/rG4b5J-vt9i.png);
  background-position: -46px -219px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-lupa-chat {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/yXw2vmEvHEh.png);
  background-position: 0 -861px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-options-chat {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/yXw2vmEvHEh.png);
  background-position: 0 -844px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.block-btn {
  display: grid !important;
}

.btn-input-postear {
  border-radius: 25rem 25rem 25rem 25rem;
  background-color: #f0f2f5;
  justify-content: flex-start;
  justify-items: flex-start;
  display: flex;
  color: #65676B;
} .btn-input-postear:hover {
  background-color: #dfdfdf;
  color: #65676B;
}

.taijpn5t {
  justify-content: center;
} .rq0escxv {
  box-sizing: border-box;
}.l9j0dhe7 {
  position: relative;
}.du4w35lb {
  z-index: 0;
}.j83agx80 {
  display: flex;
}.pfnyh3mw {
  flex-shrink: 0;
}.gs1a9yip {
  align-items: stretch;
}.owycx6da {
  flex-wrap: nowrap;
}.btwxx1t3 {
  flex-direction: row;
}.cddn0xzi {
  background-color: #FFFFFF;
}.cbu4d94t {
  flex-direction: column;
}.g5gj957u {
  flex-shrink: 1;
}.d2edcug0 {
  max-width: 100%;
}.hpfvmrgz {
  min-width: 0;
}.rj1gh0hx {
  flex-basis: 0px;
}.buofh1pr {
  flex-grow: 1;
}.k4urcfbm {
  width: 100%;
}.datstx6m {
  height: 100%;
}.i09qtzwb {
  bottom: 0;
}.n7fi1qx3 {
  right: 0;
}.pmk7jnqg {
  position: absolute;
}.j9ispegn {
  left: 0;
}.kr520xx4 {
  top: 0;
}.ni8dbmo4 {
  overflow-x: hidden;
}.stjgntxs {
  overflow-y: hidden;
}.do00u71z {
  height: 0;
}.k4urcfbm {
  width: 100%;
}.add-style {
  left: 50%;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  padding-top: 100%;
}.tgvbjcpo {
  min-height: 0;
}.rz4wbd8a {
  padding-right: 0;
}.qt6c0cv9 {
  padding-bottom: 0;
}.oygrvhab {
  margin-bottom: 0;
}.kvgmc6g5 {
  margin-top: 0;
}.jb3vyjys {
  padding-top: 0;
}.i1fnvgqd {
  justify-content: space-between;
}.hcukyx3x {
  margin-left: 0;
}.cxmmr5t8 {
  margin-right: 0;
}.a8nywdso {
  padding-left: 0;
}.ow4ym5g4 {
  border-style: solid;
}.auili1gw {
  border-width: 0;
}.dp1hu0rb {
  min-height: inherit;
}.d6urw2fd {
  margin-bottom: calc(-100vh + 56px);
}.jge66auo {
  background-image: linear-gradient(to top, #FFFFFF, rgba(255,255,255,.9),
  rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,.0))
}.jgljxmt5 {
  min-height: calc(100vh - 56px);
}.be9z9djy {
  top: 56px;
}.ihqw7lf3 {
  padding-bottom: 16px;
}.marjyy4e {
  max-width: 908px;
}.hv4rvrfc {
  padding-right: 16px;
}.dati1w0a {
  padding-left: 16px;
}.d1544ag0 {
  padding-right: 12px;
}.tw6a2znq {
  padding-left: 12px;
}.discj3wi {
  padding-top: 16px;
}.b5q2rw42 {
  margin-right: -6px;
}.lq239pai {
  margin-left: -6px;
}.mysgfdmx {
  margin-bottom: -6px;
}.hddg9phg {
  margin-top: -6px;
}.p8fzw8mz {
  padding-right: 6px;
}.pcp91wgn {
  padding-left: 6px;
}.iuny7tx3 {
  padding-bottom: 6px;
}.ipjc6fyt {
  padding-top: 6px;
}.bp9cbjyn {
  align-items: center;
}.obtkqiv7 {
  margin-bottom: -8px;
}.sv5sfqaa {
  margin-top: -8px;
}.aov4n071 {
  margin-top: 8px;
}.bi6gxh9e {
  margin-bottom: 8px;
}.p1ri9a11 {
  font-weight: inherit;
}.l94mrbxd {
  font-size: inherit;
}.gmql0nx0 {
  color: inherit;
}.lzcic4wl {
  outline: none;
}.m6dqt4wy {
  font-size: 1.75rem;
}.knj5qynh {
  font-weight: normal;
}.h676nmdw {
  margin-left: 8px;
}.qv66sw1b {
  word-break: break-word;
}.c1et5uql {
  word-wrap: break-word;
}.b0tq1wua {
  font-family: Arial, Helvetica, sans-serif;
}.a8c37x1j {
  display: block;
}.mhxlubs3 {
  font-size: 2rem;
}.p5u9llcw {
  line-height: 1.1875;
}.hnhda86s {
  font-weight: 700;
}.oo9gr5id {
  color: #050505;
}.oqcyycmt {
  text-align: center;
}