.perso-logo-da {
  height: 42px;
  width: 42px;
}

.group-input-da {
  border-start-start-radius: 25rem;
  border-end-start-radius: 25rem;
  background-color: #f0f2f5;
  border-right: 0em !important;
}
.input-addons-perso-da {
  border-start-end-radius: 25rem;
  border-end-end-radius: 25rem;
  background-color: #f0f2f5;
  border-left: 0em !important;
  padding-left: 0em;
}
.nav-shadow-da {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.color-icons-nav-da {
  color: #8C8C8C;
}

.border-color-nav-da {
  border-width: 2px !important;
  border-color: #8c8c8c !important;
}

.icon-size-nav-da {
  height: 0px !important;
  width: 16px !important;
}

.btn-color-feisbus-da {
  color: #000;
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.font-size-side-nav {
  font-size: .9375rem !important;
  font-family: inherit;
}

.btn-sidenav-da {
  color: #000;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.container-dashboard {
  padding: 1.5rem 5rem;
}

.container-scroll-global{
  max-height: 37.5em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-style-global{
  background-color: #ffff;
  border-radius: 0.7rem !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
}

.btn-options-card:hover{
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.icon-stream-fb {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/vHQA4SpBM5B.png);
  background-position: 0 0;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-foto-video-fb {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/vHQA4SpBM5B.png);
  background-position: 0 -125px;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-bithday-fb {
  height: 36px;
  width: 36px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/VLkjyo0WJdh.png);
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-camera-chat {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/rG4b5J-vt9i.png);
  background-position: -46px -219px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-lupa-chat {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/yXw2vmEvHEh.png);
  background-position: 0 -861px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-options-chat {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/yXw2vmEvHEh.png);
  background-position: 0 -844px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.block-btn {
  display: grid !important;
}

.btn-input-postear {
  border-radius: 25rem 25rem 25rem 25rem;
  background-color: #f0f2f5;
  justify-content: flex-start;
  justify-items: flex-start;
  display: flex;
  color: #65676B;
} .btn-input-postear:hover {
  background-color: #dfdfdf;
  color: #65676B;
}