.nav-link-profile {
  top: 56px;
  box-sizing: border-box;
  overflow-anchor: none;
  position: -webkit-sticky;
  position: sticky;
  z-index: 0;
}.container-nav-da {
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 0;
  --T68779821: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  background-color: #FFFFFF;
  flex-direction: row;
}.asjjxxmxmms {
  box-sizing: border-box;
  flex-basis: 0px;
  max-width: 908px;
  position: relative;
  display: flex;
  padding: 0 16px;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  flex-direction: column;
  flex-grow: 1;
}.mcpsmnasxsam {
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 0;
  flex-direction: row;
  align-items: center;
}.nav-da-fb-profile {
  box-sizing: border-box;
  flex-basis: 0px;
  position: relative;
  display: flex;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  max-width: 100%;
  flex-direction: column;
  flex-grow: 1;
}.btn-nav-da-fb-profile {
  box-sizing: border-box;
  flex-shrink: 0;
  align-self: center;
  position: relative;
  display: flex;
  min-width: 0;
  z-index: 0;
  max-width: 100%;
  flex-direction: column;
}

.oowuemsalkmsa {
  overflow-y: hidden;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}.mvjdurpa {
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.1,0.9,0.2,1);
  position: relative;
  transition-duration: 100ms;
  transition-property: transform;
  z-index: 0;
}

.m1dskmsldc {
  box-sizing: border-box;
  min-height: 60px;
  flex-shrink: 0;
  opacity: 1;
  flex-wrap: nowrap;
  visibility: visible;
  position: relative;
  transition-property: opacity,visibility;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  transition-duration: 200ms,1s;
  z-index: 0;
  transition-timing-function: cubic-bezier(0,0,1,1),linear;
  flex-direction: row;
}.mpoi564mlka {
  box-sizing: border-box;
  flex-basis: 0px;
  position: relative;
  display: flex;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  max-width: 100%;
  flex-direction: column;
  flex-grow: 1;
}.pmfj940ndjadd {
  align-content: inherit;
  max-height: inherit;
  flex-grow: inherit;
  flex-shrink: inherit;
  max-width: inherit;
  position: relative;
  flex-direction: inherit;
  width: inherit;
  min-height: inherit;
  min-width: inherit;
  justify-content: inherit;
  height: inherit;
  display: inherit;
  align-items: inherit;
}.sdnnsoldkdk {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 60px;
  outline: none;
}

.container-tab-links {
  line-height: 0;
  position: relative;
}.container-tab-links-2 {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.style-nav-link-profile {
  z-index: 1;
  padding: 0;
  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-image: none;
  position: relative;
  vertical-align: top;
  text-align: inherit;
  color: inherit;
  background-color: transparent;
  touch-action: manipulation;
  -webkit-appearance: none;
  height: 60px;
  float: left;
  user-select: none;
  border: 0;
  border-style: solid;
  border-width: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: #65676B;
}.asnckm492-cmas {
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  display: flex;
  padding: 0 16px;
  min-height: 16px;
  height: 60px;
  align-items: center;
}.text-nav-link {
  word-break: break-word;
  font-weight: 600;
  font-size: .9375rem;
  min-width: 0;
  max-width: 100%;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1.3333;
  /* color: #65676B; */
}.text-active-nav-link {
  color: hsl(214, 89%, 52%);
}

.active-element-nav{
  background-color: hsl(214, 89%, 52%);
  height: 3px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.p2oevmlda {
  box-sizing: border-box;
  position: absolute;
  flex-shrink: 0;
  flex-wrap: nowrap;
  transition-property: opacity,visibility;
  visibility: hidden;
  top: 100%;
  justify-content: space-between;
  align-items: stretch;
  z-index: 0;
  height: 100%;
  transition-timing-function: cubic-bezier(0,0,1,1),linear;
  transition-duration: 200ms,0s;
  flex-direction: row;
  opacity: 0;
}

.select-menu-mas {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 60px;
  width: calc(2.90625rem + 52px);
}.lkdosdf0239sdf {
  z-index: 1;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-image: none;
  top: 0;
  left: 0;
  display: flex;
  text-align: inherit;
  color: inherit;
  background-color: transparent;
  touch-action: manipulation;
  -webkit-appearance: none;
  height: 60px;
  user-select: none;
  border: 0;
  border-style: solid;
  border-width: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

.lkpoiqmskkk23094 {
  background-color: rgba(0,0,0,.05);
  border-radius: inherit;
  position: absolute;
  transition-timing-function: cubic-bezier(0,0,1,1);
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  transition-duration: 100ms;
  opacity: 0;
  transition-property: opacity;
  border-radius: 6px;
  inset: 4px 0px;
}

.asdkff4352kmasd {
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  display: flex;
  padding: 0 16px;
  min-height: 16px;
  height: 60px;
  align-items: center;
}

.asljakad2309482 {
  word-break: break-word;
  color: #65676B;
  font-weight: 600;
  font-size: .9375rem;
  min-width: 0;
  max-width: 100%;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1.3333;
}

.pjskdowke09283 {
  line-height: 0;
  margin-left: 4px;
}
.aslkjoi098234nc {
  transition-duration: 200ms;
  transition-property: fill,stroke;
  width: 16px;
  height: 16px;
  fill: #65676B;
  transition-timing-function: cubic-bezier(.08,.52,.52,1);
  display: block;
}

.container-elements-of-nav-link {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.fst-obj-cont {
  box-sizing: border-box;
  padding: 0 16px;
  width: 908px;
  max-width: 100%;
}.alskjall32847kdjla {
  justify-content: center;
  margin: -8px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 0;
  flex-direction: row;
}.sajljoir93884lkj {
  display: none;
  box-sizing: border-box;
  margin: 8px;
  position: relative;
  min-width: 0;
  max-width: 876px;
  flex-shrink: 1;
  flex-basis: 876px;
  z-index: 0;
  flex-grow: 1;
}

.snd-obj-cont {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 0 16px;
  width: 908px;
  max-width: 100%;
}

.alskdmnc9837alks {
  justify-content: center;
  margin: -8px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 0;
  flex-direction: row;
}

.col1tarjetas {
  box-sizing: border-box;
  overflow-anchor: none;
  max-width: 500px;
  margin: 8px;
  flex-basis: 360px;
  position: relative;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  flex-grow: 1;
}

.col2tarjetaspsot {
  box-sizing: border-box;
  max-width: 500px;
  margin: 8px;
  position: relative;
  min-width: 0;
  flex-basis: 500px;
  flex-shrink: 1;
  z-index: 0;
  flex-grow: 1;
}

.sklasmdl1298 {
  vertical-align: -0.25em;
  filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
}

.btn-da-card-fb {
  background-color: #E4E6EB;
  border-radius: 6px;
}

.askdalskdjjalskdj209384 {
  margin: 0 12px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 0;
  flex-direction: row;
}

.lkjajsldak019284 {
  box-sizing: border-box;
  flex-basis: 0px;
  position: relative;
  display: flex;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  max-width: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.kjalskjaoo093824 {
  z-index: 1;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-image: none;
  position: relative;
  display: flex;
  text-align: inherit;
  color: inherit;
  background-color: transparent;
  touch-action: manipulation;
  -webkit-appearance: none;
  user-select: none;
  border: 0;
  border-style: solid;
  border-width: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}.alksjlaksl2i3lkdieq{
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  min-height: 16px;
  align-items: center;
}

.icon-lista-fb-btn {
  line-height: 0;
  margin-right: 4px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/GCrN7ITwt-9.png);
  background-position: 0px -233px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) 
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) 
    contrast(96%);
  vertical-align: -0.25em;
}

.icon-square-fb-btn {
  line-height: 0;
  margin-right: 4px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/GCrN7ITwt-9.png);
  background-position: 0px -199px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) 
    brightness(94%) contrast(86%);
  vertical-align: -0.25em;
}

.lkaflakjf--23i {
  color: hsl(214, 89%, 52%);
  font-weight: 600;
  font-size: .9375rem;
  min-width: 0;
  max-width: 100%;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1.3333;
}

.lkaflakjf--24i {
  color: #65676B;
  font-weight: 600;
  font-size: .9375rem;
  min-width: 0;
  max-width: 100%;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1.3333;
}

.selector-azul{
  height: 3px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: hsl(214, 89%, 52%);
}